{% extends "layout.html"%}
{%block headling%}
  {{headline}}
{%endblock%}

{%block body%}
<h3>{{time}}</h3>

<style>
{box-sizing: border-box}
/* Full-width input fields */

label{
  font-size: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container {
  text-align: center;
  padding: 10px;
  border: 5px dotted white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #0099ff;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

</style>


<form action="{{url_for('exchange')}}" method="post">
  <div class="container">
    <h3>Care</h3>
    <div class="block">
    <label for="item"><b>What's thing u care </b></label>
      <input type="text" name="item" placeholder="Enter your item" required>
    </div>
    <button>Submit</button>
  </div>
</form>


{%endblock%}
