<!DOCTYPE html>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250,250,250);
}

h1{
  text-align: center;
  font-size: 100px;
  padding-bottom:40px;
  border-bottom: 10px solid black;
  color: blue;

}

h3{
  text-align: center;
  font-size: 20px;
}

p{
  text-align: center;
font-size: 20px;
}


</style>



<html>
  <head>
    <title>CS50 - Project 01 - Book Review Website</title>
  </head>
  <body>
    <h1>{%block headling%}{%endblock%}</h1>
    {%block body%}
    {%endblock%}
  </body>
</html>
